#content
{
	width:100%;
	margin:auto;
}

#nav-bar
{
	width:100%;
}

#nav-in
{
	position:relative;
	top:15px;
	float:right;
}

#top-bar{
	height:5.3em;
	width:100%;
	margin:auto;
	/*border: 2px solid red;*/
	padding-left:3em;
	padding-right:3em;
}

#bottom-bar{
	height:3em;
	padding:15px;
	width:100%;
	margin:auto;
}

#top-bar, #bottom-bar
{
}

@media(max-width: 1024px)
{
	#content{
		height:37em;
		width:97.5em;
	}
	
	#bottom-bar
	{
		position: relative;
		top:2em;
		margin-top:-5em;
	}
	
	#top-bar{
		position:absolute;
		margin: auto;
		
	}
}

@media(max-height: 640px)
{

	#top-bar{
		position:absolute;
		margin: auto;
		width:97.5em;
		
	}
	
	#bottom-bar
	{
		position: relative;
		top:1em;
	}
	
	#content{
		height:37.5em;

	}
}

@media(min-width: 1300px)
{
	#content{
		width:97.5em;
	}	
}

@media(max-width: 1279px)
{
	
	#top-bar, #bottom-bar{
		width:97.5em;
	}
	
	#bottom-bar{
		top:6em;
		
	}
	
}